In [1]:
import pandas as pd
import numpy as np
import plotly.express as px

In [15]:
geschlecht_counts = df.groupby(["PLZ", "Geschlecht"]).size().unstack(fill_value=0)

# Altersstatistik pro PLZ
alters_stats = df.groupby("PLZ")["Alter"].agg(['count', 'mean'])

# Beide Tabellen zusammenführen
ergebnis = geschlecht_counts.join(alters_stats)

print(ergebnis)

        d    m   w  count       mean
PLZ
10115   7   30  11     48  33.750000
10117   5   21   9     35  34.771429
10119   6   21   8     35  30.257143
10178   4   25   9     38  34.736842
10179   5   25   8     38  33.026316
...    ..  ...  ..    ...        ...
14193   6   30  13     49  33.795918
14195  24  132  60    216  33.703704
14197   6   29  14     49  31.673469
14199   5   24  11     40  28.350000
15566   4   30  12     46  30.043478

[191 rows x 5 columns]

In [12]:
df = pd.read_csv("../data/customers.csv")

In [16]:
df2 = pd.read_csv("../data/plz_coords.csv")
df2_unique = df2.drop_duplicates(subset="plz")

In [36]:
merged = pd.merge(ergebnis, df2_unique.loc[:,["name", "plz","lat", "lon"]], left_on="PLZ", right_on="plz", how="left").drop(columns="plz")

In [37]:
merged

,d,m,w,count,mean,name,lat,lon
0,7,30,11,48,33.750000,Berlin Mitte,52.532140,13.384677
1,5,21,9,35,34.771429,Berlin Mitte,52.516895,13.387365
2,6,21,8,35,30.257143,Berlin Mitte,52.530479,13.405327
3,4,25,9,38,34.736842,Berlin Mitte,52.521304,13.409806
4,5,25,8,38,33.026316,Berlin Mitte,52.512110,13.416408
...,...,...,...,...,...,...,...,...
186,6,30,13,49,33.795918,Berlin Grunewald,52.483123,13.236532
187,24,132,60,216,33.703704,Berlin Dahlem,52.458898,13.282923
188,6,29,14,49,31.673469,Berlin Wilmersdorf,52.473362,13.311789
189,5,24,11,40,28.350000,Berlin Schmargendorf,52.477664,13.295080
190,4,30,12,46,30.043478,Schöneiche bei Berlin,52.479181,13.705709

In [ ]:
fig = px.scatter_mapbox(
    merged,
    lat="lat",
    lon="lon",
    size="",
    hover_name="Ort",
    color="Größe",
    zoom=12,
    mapbox_style="carto-positron"  # andere Optionen: "open-street-map", "stamen-terrain" etc.
)

fig.show()

In [ ]:
df = px.data.gapminder().query("year==2007")
fig = px.scatter_geo(df, locations="iso_alpha", color="continent",
                     hover_name="country", size="pop",
                     projection="natural earth")
fig.show()